@import "../../globals.css";

.home-container {
    min-width: 1270px;
}

.video-wrapper {
    background-color: black;
    overflow: hidden;
}

.video {
    min-width: 1270px;
    width: 100vw;
    height: 100vh;
    object-position: bottom;
    object-fit: cover;
}

.swiper-wrapper {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

.swiper-wrapper.active {
    transform: translate3d(0, -100vh, 0);
}

.home-content {
    margin-top: 1.4rem;
}