@import "../../globals.css";

.swiper-wrapper {
    max-height: 100vh;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

.swiper-wrapper.active {
    transform: translate3d(0, -100vh, 0);
}