@import "../../globals.css";

.page-container {
    min-width: 1270px;
    background-image: url("/shared/star_bg.a353121.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: sticky;
    top: 0;
}