@tailwind base;
@tailwind components;
@tailwind utilities;

/* nextjs default style */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* nextjs default style */

html {
  font-size: clamp(50px, calc(100vw / 25.6), 64px);
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  font-family: "Microsoft YaHei", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --global-color-coolgrey-0: #adb5d0;
  --global-color-coolgrey-1: #8a91a5;
  --global-color-coolgrey-2: #676c7b;
  --global-color-pink-0: #dc8ac7;
  --global-color-pink-1: #ae6f9e;
  --global-color-pink-2: #805576;
  --global-color-cyan-0: #75d6dd;
  --global-color-cyan-1: #5fa9af;
  --global-color-cyan-2: #497d82;
  --global-color-green-0: #172824;
  --global-color-green-1: #193c31;
  --global-color-green-2: #1e4e3c;
  --global-color-green-3: #21684d;
  --global-color-green-4: #258b63;
  --global-color-green-5: #29af79;
  --global-color-green-6: #26bf82;
  --global-color-green-7: #46c38e;
  --global-color-green-8: #76d9aa;
  --global-color-green-9: #a4eac7;
  --global-color-green-10: #d1f2e2;
  --global-color-red-0: #2c191b;
  --global-color-red-1: #431e1f;
  --global-color-red-2: #572726;
  --global-color-red-3: #772e2b;
  --global-color-red-4: #a13732;
  --global-color-red-5: #cb4039;
  --global-color-red-6: #e0564f;
  --global-color-red-7: #e16b60;
  --global-color-red-8: #f3998e;
  --global-color-red-9: #f8c2b8;
  --global-color-red-10: #fae6e2;
  --global-color-purple-0: #8779dd;
  --global-color-purple-1: #6d62af;
  --global-color-purple-2: #534c82;
  --global-color-orange-0: #2e221a;
  --global-color-orange-1: #46311d;
  --global-color-orange-2: #5a4023;
  --global-color-orange-3: #7b5326;
  --global-color-orange-4: #a76d2b;
  --global-color-orange-5: #d38730;
  --global-color-orange-6: #e09238;
  --global-color-orange-7: #e8a957;
  --global-color-orange-8: #f3c682;
  --global-color-orange-9: #f8dcac;
  --global-color-orange-10: #faeed5;
  --global-color-basic-white: #fff;
  --global-color-basic-black: #000;
  --global-color-primary-0: #1b2336;
  --global-color-primary-1: #1e263b;
  --global-color-primary-2: #212a40;
  --global-color-primary-3: #1f2d4a;
  --global-color-primary-4: #273a5f;
  --global-color-primary-5: #2f4b80;
  --global-color-primary-6: #3961ad;
  --global-color-primary-7: #4377da;
  --global-color-primary-8: #4a88fc;
  --global-color-primary-9: #6a9be8;
  --global-color-primary-10: #95bcf4;
  --global-color-grey-0: #18191b;
  --global-color-grey-1: #212226;
  --global-color-grey-2: #2d2e33;
  --global-color-grey-3: #323339;
  --global-color-grey-4: #4f5159;
  --global-color-grey-5: #61636b;
  --global-color-grey-6: #7b7f8a;
  --global-color-grey-7: #a0a4ac;
  --global-color-grey-8: #ccd0d2;
  --global-color-grey-9: #e6e7e9;
  --global-color-grey-10: #fafafa;
  --global-color-stroke: var(--global-color-grey-3);
  --global-surface-mask: rgba(0, 0, 0, .7);
  --global-surface-1: var(--global-color-grey-0);
  --global-surface-2: #121214;
  --brand-color-hover: var(--global-color-primary-6);
  --brand-color-enabled: var(--global-color-primary-7);
  --brand-color-pressed: var(--global-color-primary-8);
  --brand-color-hover-dark: #b57731;
  --brand-color-enabled-dark: #db9a45;
  --brand-color-pressed-dark: #e8b86f;
  --brand-button-filled-enabled-container: var(--global-color-primary-7);
  --brand-button-filled-enabled-container-dark: #db9a45;
  --brand-button-filled-enabled-element: var(--global-color-basic-white);
  --brand-button-filled-enabled-element-dark: var(--global-color-basic-black);
  --brand-icon: var(--global-color-primary-7);
  --brand-button-filled-hover-container: var(--global-color-primary-6);
  --brand-color-error: var(--global-color-red-7);
  --brand-button-filled-hover-element: var(--global-color-basic-white);
  --brand-button-filled-pressed-container: var(--global-color-primary-8);
  --brand-button-filled-pressed-element: var(--global-color-basic-white);
  --brand-button-filled-disabled-container: var(--global-color-grey-3);
  --brand-button-filled-disabled-element: var(--global-color-grey-5);
  --brand-radius-container: 12px;
  --brand-padding-input: 12px;
  --brand-button-outlined-enabled-border: var(--global-color-grey-3);
  --brand-button-outlined-enabled-element: var(--global-color-grey-8);
  --brand-button-outlined-hover-border: var(--brand-color-hover);
  --brand-button-outlined-hover-element: var(--brand-color-hover);
  --brand-button-outlined-pressed-border: var(--brand-color-pressed);
  --brand-button-ghost-hover-element: var(--brand-color-hover);
  --brand-button-ghost-enabled-element: var(--brand-color-enabled);
  --brand-button-ghost-pressed-element: var(--brand-color-pressed);
  --brand-button-ghost-disabled-element: var(--global-color-grey-5);
  --brand-button-outlined-pressed-element: var(--brand-color-pressed);
  --brand-button-outlined-disabled-border: var(--global-color-grey-2);
  --brand-button-outlined-disabled-element: var(--global-color-grey-5);
}

:root {
  --blue: #307af7;
  --white: #ffffff;
  --transparent: transparent;
  --account-color-black: #000;
  --account-color-white: #fff;
  --account-color-bg1: #fff;
  --account-color-bg2: #fafafc;
  --account-color-toast: #323339;
  --account-color-gray-0: #fff;
  --account-color-gray-1: #fafafc;
  --account-color-gray-2: #f3f4f7;
  --account-color-gray-3: #e7e8ee;
  --account-color-gray-4: #d4d6dd;
  --account-color-gray-5: #b9bcc6;
  --account-color-gray-6: #9ea2ae;
  --account-color-gray-7: #6b707b;
  --account-color-gray-8: #3c3f44;
  --account-color-gray-9: #242629;
  --account-color-gray-10: #18191b;
  --account-color-red-4: #f6675a;
  --account-color-red-5: #ea473e;
  --account-color-red-6: #da322f;
  --account-color-orange-4: #ffb752;
  --account-color-orange-5: #f49a34;
  --account-color-orange-6: #e68123;
  --account-color-green-4: #4eda99;
  --account-color-green-5: #2cc98a;
  --account-color-green-6: #2db47e;
  --account-color-primary-4: #e8b86f;
  --account-color-primary: #db9a45;
  --account-color-primary-6: #b57731;
  --account-button-background-hover: #101113;
  --account-button-background-default: #020407;
  --account-button-background-active: #0f1012;
  --account-button-text-color: #db9a45;
  --account-button-text-hover-color: #e8b86f;
  --account-color-input-error: #9e2830;
  --account-color-toast: #323339;
  --el-overlay-color: rgba(0, 0, 0, .8);
  --el-overlay-color-light: rgba(0, 0, 0, .7);
  --el-overlay-color-lighter: rgba(0, 0, 0, .5);
  --el-mask-color: hsla(0, 0%, 100%, .9);
  --el-mask-color-extra-light: hsla(0, 0%, 100%, .3);
}

:root {
  --external-link: url("/header/link.png");
  --hyv-logo: url("/shared/hyv_logo.png");
  --close-btn: url("/shared/close-btn.png");
  --white-close-btn: url("/header/white_close_btn.png");
  --download-bg: url("/header/download_bg.png");
  --rating: url("/shared/rating.png");
  --qr-code: url("/header/download_qr.png");
}

:root {
  --share-icon: url("/sidebar/share_icon.png");
}

:root {
  --el-transition-duration: 0.3s;
  --el-transition-duration-fast: 0.2s;
  --el-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
}

:root {
  --account-color-text-disabled: var(--account-color-gray-5);
  --account-color-button-disabled: var(--account-color-gray-3);
}

.login-methods {
  --google-bg-image: url("./features/authentication/assets/media/google_bg.png");
  --apple-bg-image: url("./features/authentication/assets/media/apple_bg.png");
  --facebook-bg-image: url("./features/authentication/assets/media/facebook_bg.png");
  --twitter-bg-image: url("./features/authentication/assets/media/twitter_bg.png");
}

.download-methods {
  --epic-store: url("/header/epic_store.png");
  --windows: url("/header/windows.png");
  --app-store: url("/app_store.png");
  --google-play: url("/header/google_play.png");
  --ps5: url("/header/ps5.png");
}

.title-container {
  --title-bg: url("/shared/title_bg.png");
}

[data-flex] {
  display: flex;
  position: relative;
}

[data-flex-col] {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

.main-axis-center {
  justify-content: center;
}

.cross-axis-center {
  align-items: center;
}

.text-center {
  text-align: center;
}